<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ORDER</title>
  </head>
  <style>
    * {
      margin: 0px;
    }
    .container {
      width: 100%;
      margin: auto;
      padding-bottom: 50px;
    }
    .login-btn {
      background-color: crimson;
      color: #ffffff;
      text-decoration: none;
      padding: 10px;
      font-size: 18px;
    }
    img {
      animation: progress 0.6s ease alternate infinite;
      object-fit: cover;
    }
    h2 {
      color: #82d78a;
    }
    @keyframes progress {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  </style>
  <body>
    <table class="container">
      <tr>
        <td>
          <table width="600" style="margin: auto">
            <tr>
              <td style="background-color: white; align: center">
                <p style="color: #460000; font-size: 45px; font-weight: bold">
                  AFRIKAN ACCENT ADVENTURES
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px">
          <table width="600" style="margin: auto">
            <tr>
              <td>
                <img
                  src="https://aa-adventures.net/wp-content/uploads/2016/04/logo.png"
                  height="500px"
                  width="500px"
                />
              

              <span style="font-size: 20px; display: block">
                <span style="font-size: 20px; display: block">Hello Friend!</span>
                Thanks for signing up for Newsletter! We think you are going to love it, but we do want to make sure it
                is really you! To make sure we are all on the same page, let’s confirm your email address. Just follow the
                link below, and once that’s taken care of, we’ll get down to the fun stuff!
                Cheers,
                Afrikan Accent Adventures Team.
              </span>

                <p
                  style="
                    color: black;
                    font-size: 20px;
                    margin: 10px 0px;
                    font-weight: 400;
                    max-width: 500px;
                  "
                ></p>

                <a
                  style="
                   
                    font-size: 20px;
                    margin: 10px 0px;
                    font-weight: 400;
                    max-width: 500px;
                  "

                  href="http://localhost:3000"
                  >Visit our website</a
                >



                <h3>See our some of our tours.</h3>

                <div style="
                   
                   display: flex;  
                  flex-wrap: wrap;
              " >

                                <img
                                src="https://cdn.pixabay.com/photo/2018/04/13/23/11/transportation-system-3317902__340.jpg"
                                height="400px"
                                width="400px"
                                />

                                <img
                                src="https://cdn.pixabay.com/photo/2020/10/11/10/06/safari-5645378__340.jpg"
                                height="400px"
                                width="400px"
                                />
                               
                </div>

                <div style="
                   
                   display: flex;  
                  flex-wrap: wrap;
              " >

                                <img
                                src="https://cdn.pixabay.com/photo/2018/04/13/23/11/transportation-system-3317902__340.jpg"
                                height="400px"
                                width="400px"
                                />

                                <img
                                src="https://cdn.pixabay.com/photo/2020/10/11/10/06/safari-5645378__340.jpg"
                                height="400px"
                                width="400px"
                                />
                               
                </div>
                
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table width="600" style="margin: auto"></table>
        </td>
      </tr>
    </table>
  </body>
</html>
